@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: system-ui, sans-serif;
}
